name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn xgboost

      - name: Run MLflow Project (Training)
        env:
          MLFLOW_TRACKING_URI: file:./mlruns
          MLFLOW_ARTIFACT_URI: file:./mlruns
        run: |
          cd MLProject
          mkdir -p mlruns
          mlflow run . --env-manager=local
